[Desktop Entry]
Version=0.1
Type=Application
Terminal=false
Exec=/usr/local/bin/yusufreis
Name=YusufReis
Comment=YusufReis
Icon=/usr/share/hvl/yusufreis/images/Computer.png
